{
  "extends": [
    "airbnb-base",
    "airbnb-typescript"
  ],
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "object-curly-newline": "off"
  }
}