{
  "trailingComma": "all",
  "semi": true,
  "singleQuote": true,
  "singleAttributePerLine": true,
  "bracketSameLine": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf"
}