@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

@media only screen and (min-width: 640px) {
  #root {
    flex-direction: row;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}